<ion-view view-title="About">
  <ion-content>

    <ion-list>
      <ion-item>
        <div class="about-info">
          This app is a project by several students at Hack Reactor. It is by no means perfect, so suggestions for improvement are definitely welcome!
          <br><br>
          The "score" is based on the official Hacker News ranking algorithm, but I wasn't able to figure out how to implement it exactly, so right now it's just a loose approximation.
          <br><br>
          The original developers of the web version of this app are Kenny Tran, Matthew Rourke, Jennifer Bland, and Sid Sukumar. I, Michael Cheng, designed this mobile version for a legacy project, working in a group with Christina Holland, Jeff Peoples, and Vinaya Gopisetti.

        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>