<ion-view view-title="Comments">
  <ion-content>
    <div class="comment-story-title-container">
      Comments for:
      <div class="comment-story-title">{{comments[0].story_title}}</div>
      <!-- <a href="{{comment.story_url}}" class="comments-link"> -->
      <a class="comments-link" ng-click="openStory(comments[0].story_url, comments[0].story_id)">
        {{comments[0].story_url.split('/')[2]}}
      </a><br>
      <!-- <a href="https://news.ycombinator.com/item?id={{comments[0].story_id}}" class="comments-link"> -->
      <a class="comments-link" ng-click="openComments(comments[0].story_id)">
        Comments page
      </a>
    </div>
    <ion-list>
      <ion-item class="comment-container" ng-repeat="comment in comments | limitTo: index">
        <div class="comment" style="margin-left: {{(comment.depth - 1) * 10}}px">
          <div class="comment-meta">{{comment.author}} commented {{comment.created_at | fromNow}}</div>
          <div class="comment-text" ng-bind-html="comment.comment_text | htmlsafe">
          </div>

        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>