<ion-view view-title="Comments">
  <ion-content>
    <div class="comment-story-title-container">
      Comments for:
      <div class="comment-story-title">{{comments[0].story_title}}</div>
      <a href="{{comment.story_url}}" class="comments-link">{{comments[0].story_url.split('/')[2]}}</a><br>
      <a href="https://news.ycombinator.com/item?id={{comments[0].story_id}}" class="comments-link">Comments page</a>
    </div>
    <ion-list>
      <ion-item ng-repeat="comment in comments | limitTo: index">
        <div class="comment">
          <div class="comment-meta">{{comment.author}} commented {{comment.created_at | fromNow}}</div>
          <div class="comment-text" ng-bind-html="comment.comment_text | htmlsafe">
          </div>

        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>