<ion-view view-title="Hacker News Mobile">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="story in stories | limitTo: index" href="{{story.url ? story.url : 'https://news.ycombinator.com/item?id=' + story.objectID}}">
        <h2 class="story-title">{{story.title}}</h2>
        <div class="story-url">{{story.url.split('/')[2]}}</div>
        <div class="points-bar" style="width:{{Math.round(((story.points - 1) / Math.pow(((story.created_at | fromNow).split(' ')[0] + 2), 1.8)) * 1000) * .35}}px;"></div>
        <div class="score-container">
          {{story.points}} points | {{story.created_at | fromNow}} &rarr; Score: <span class="score">{{Math.round(((story.points - 1) / Math.pow(((story.created_at | fromNow).split(' ')[0] + 2), 1.8)) * 1000)}}</span><br>
        </div>
        <div class="story-author">by {{story.author}}</div>
        <a href="https://news.ycombinator.com/item?id={{story.objectID}}" target="_top" class="story-comments">
          {{story.num_comments ? story.num_comments + ' comments' : 'discuss'}}
        </a>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>