/* Empty. Add your own CSS if you like */

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.item .story-title {
  white-space: normal;
  font-size: 17px;
  font-weight: bold;
}

.item .story-title-link {
  color: #0079B2;
}

.item .story-url {
  float: left;
  font-size: 13px;
  color: #908D91;
  margin-top: -5px;
}

.item .score-container {
  clear: both;
  float: right;
  color: #908D91;
  font-size: 10px;
  margin-top: -6px;
}

.item .score {
  color: #404040;
  font-size: 13px;
  font-weight: bold;
}

.item .story-author {
  clear: both;
  float: left;
  font-size: 13px;
  margin-top: -20px;
}

.item .follow-author {
  float: left;
  background: #F2ECF3;
  font-size: 10px;
  padding: 0 3px;
  border: 1px solid #908D91;
  border-radius: 4px;
  cursor: pointer;
}

.item .story-comments {
  float: right;
  text-align: center;
  font-size: 14px;
  color: #0079B2;
}

.points-bar {
  float: right;
  background: #FF8C00;
  height: 8px;
  max-width: 170px;
} 

/* PERSONAL SECTION */

.following-list {
  text-align: center;
  background: #404040;
  color: #FFF;
  padding-top: 7px;
  padding-bottom: 10px;
}

.following-list h2 {
  font-size: 15px;
  color: #FFF;
}

.following-list-users {
  line-height: 1.6em;
  width: 280px;
  margin: 0 auto;
}

.following-list-user {
  background: #FFF;
  color: #000;
  margin: 0 5px;
  padding: 0 4px;
  border-radius: 3px;
}

.user-x {
  color: #F43B44;
  font-size: 15px;
  font-weight: bold;
}

.item .comment {
  white-space: normal;
}